<nz-layout class="layout">
  <nz-header>

    <div class="logo">掌上飞科技有限公司</div>
    <div class="login">
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="_submitForm()">
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="validateForm.controls.Phone">
            <nz-input formControlName="Phone" [nzType]="'phone'" [nzPlaceHolder]="'Phone'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-user"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.Phone.dirty&&validateForm.controls.Phone.hasError('required')">Please input your Phone!</div>
          </div>
        </div>
        <div nz-form-item>
          <div nz-form-control [nzValidateStatus]="validateForm.controls.Pwd">
            <nz-input formControlName="Pwd" [nzType]="'password'" [nzPlaceHolder]="'Password'" [nzSize]="'large'">
              <ng-template #prefix>
                <i class="anticon anticon-lock"></i>
              </ng-template>
            </nz-input>
            <div nz-form-explain *ngIf="validateForm.controls.Pwd.dirty&&validateForm.controls.Pwd.hasError('required')">Please input your Password!</div>
          </div>
        </div>
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="loading" [disabled]="!validateForm.valid">Log in</button>
      </form>
    </div>
    <div class="weather">
      <iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=3&z=2&t=0&v=0&d=3&bd=0&k=&f=ffffff&ltf=009944&htf=cc0000&q=1&e=1&a=1&c=54511&w=180&h=36&align=center"></iframe>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <!-- <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li> -->
    </ul>

  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" style="height:100%">
        <!-- <nz-dropdown class="user">
          <div nz-dropdown class="userInfo">
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <div class="info">
              <strong>admin</strong>
              <p>15010156268</p>
            </div>
          </div>
          <ul nz-menu>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">个人资料</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">修改密码</a>
            </li>
            <li nz-menu-item>
              <a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">退出</a>
            </li>
          </ul>
        </nz-dropdown> -->
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-notification"></i>餐厅信息</span>
          <ul>
            <li nz-menu-item [routerLink]="['/shopMgr']">餐厅资料</li>
            <li nz-menu-item [routerLink]="['/shopMgr/auth']">权限管理</li>
            <li nz-menu-item [routerLink]="['/shopMgr/staff']">员工管理</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-pie-chart"></i>菜品管理</span>
          <ul>
            <li nz-menu-item [routerLink]="['/dishMgr']">普通菜品</li>
            <li nz-menu-item [routerLink]="['/dishMgr/setMenuList']">套餐菜品</li>
            <li nz-menu-item [routerLink]="['/dishMgr/typeList']">类型管理</li>
            <li nz-menu-item [routerLink]="['/dishMgr/flavorList']">口味管理</li>
            <li nz-menu-item [routerLink]="['/dishMgr/unitList']">规格管理</li>
            <li nz-menu-item [routerLink]="['/dishMgr/kitchenList']">后厨管理</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title>
            <i class="anticon anticon-laptop"></i>桌台管理</span>
          <ul>
            <li nz-menu-item [routerLink]="['/tableMgr']">管理桌台</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:12px 0;">
        <!-- <nz-breadcrumb-item>app</nz-breadcrumb-item>
        <nz-breadcrumb-item>日常维护</nz-breadcrumb-item>
        <nz-breadcrumb-item>菜品管理</nz-breadcrumb-item> -->
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 10px; min-height: 280px;overflow: auto;">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer style="text-align: center;">ng-zorro-cms ©2017 Implement By zhuzhida</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>