<form nz-form [nzType]="'horizontal'" [formGroup]="validateForm">

  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>工号</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-input formControlName="JobNumber" [nzSize]="'large'">
      </nz-input>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>姓名</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-input formControlName="JobName" [nzSize]="'large'">
      </nz-input>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>帐号(手机号)</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-input formControlName="Phone" [nzSize]="'large'">
      </nz-input>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>密码</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-input formControlName="Pwd" [nzSize]="'large'">
      </nz-input>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="6">
      <label nz-form-item-required>角色</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-select formControlName="RoleID" [(ngModel)]="selectedOption" (ngModelChange)="changeRole($event)" [nzSize]="'large'">
        <nz-option *ngFor="let item of _authList" [nzLabel]="item.RoleName" [nzValue]="item.Id"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-form-item nz-row *ngIf="kitchenState">
    <div nz-form-label nz-col [nzSpan]="6">
      <label>对应后厨</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="14">
      <nz-select formControlName="KitchenId" [(ngModel)]="selectedOptionKitchenId" [nzSize]="'large'" [nzMode]="'multiple'">
        <nz-option *ngFor="let item of _kitchenList" [nzLabel]="item.SName" [nzValue]="item.Id"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-form-item nz-row>
    <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="6">
      <button nz-button [nzType]="'primary'" (click)="submit()" [nzSize]="'large'">提交</button>
      <button nz-button [nzSize]="'large'" (click)="cancel()">取消</button>
    </div>
  </div>
</form>